---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h2>Hi, I'm Stephanie!</h2>
			
      <h4>
				<span style="font-size: xx-large;">Master of Matrimony Media</span><br
				/>
				<em style="font-size: smaller;">and your wedding day content creator</em
				>
			</h4>

			<p>
				But you can call me Steph born and raised under the sunny skies of Miami. 
				With two adorable daughters who keep me on my toes (and occasionally steal my camera), 
				I’ve mastered the art of capturing candid moments amidst the chaos of family life.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/steph.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      Miami isn't just where I live; it's my muse, my playground, and my canvas. Whether it’s finding the perfect angle for a bridal transition or convincing the groomsmen to try a synchronized dance routine, I’m always up for a creative challenge.   
    </p>
    <p>
      After all, life's to short for boring content, am I right?
    </p>
    <p>
      When I’m not behind the lens, you’ll probably find me chasing my daughters through the nearest park, sipping cafecito at my favorite local spot, or brainstorming ideas for my next client.
    </p>
    <!-- <p>
      Quis distinctio tempora sequi sit repudiandae cumque nostrum deserunt, voluptatibus rem eum fuga modi beatae cum ullam delectus dicta atque eius nam quos corporis. Animi praesentium quae nobis. Odit, mollitia. Voluptatum, hic explicabo. Ex accusamus ipsa ea dolor commodi quas esse ipsum alias et adipisci error necessitatibus atque facere rerum ratione consequatur aspernatur repudiandae minima consectetur fuga, doloremque dolorum pariatur.
      Ipsam error eaque velit possimus porro eum quod illo iusto officia magnam magni, beatae nisi voluptate praesentium? Saepe distinctio adipisci quas hic quae facilis? Sequi eum hic aperiam impedit minus?
    </p> -->
  </TextSection>
</Layout>
