---
---

<a href="/landing-pages/landing-1" class="odyssey-logo">BTS By Steph</a>

<style>
    .odyssey-logo {
        width: fit-content;
        margin: 0;
        font-family: var(--theme-font-family-serif);
        font-size: var(--font-size-md);
        color: inherit;
        text-decoration: none; /* Add this line to remove the default underline */
    }
    .odyssey-logo:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>
