---
// import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';

// const selectOptions = [
//   "Google Search",
//   "Social Media",
//   "Vendor Referral",
//   "Referral",
//   "Email",
// ]

---

<!-- <form name="Contact Form" method="POST" action="/contact-thank-you">
	<FormInput
		type="text"
		label="First Name"
		name="FirstName"
		placeholder="First Name"
	/>
	<FormInput
		type="text"
		label="Last Name"
		name="LastName"
		placeholder="Last Name"
	/>
	<FormInput
		type="text"
		label="Phone Number"
		name="Phone"
		placeholder="Phone Number"
	/>
	<FormInput
		type="email"
		label="Email"
		name="Email"
		placeholder="hello@example.com"
	/>
	<FormInput
		type="text"
		label="Date of Event"
		name="DateOfEvent"
		placeholder="MM/DD/YYYY"
	/>
	<FormInput
		type="text"
		label="Location of Event (city, and venue name)"
		name="LocationOfEvent"
		placeholder="Location of Event"
	/>
	<FormSelect label="How Did You Hear About Us?" options={selectOptions} />
	<FormTextarea
		label="Message"
		name="Message"
		placeholder="Your message here..."
	/>
	<Button>Submit</Button>
</form> -->

<div class="hb-p-66326572c241770008946c6a-1"></div><img height="1" width="1" style="display:none" src="https://www.honeybook.com/p.png?pid=66326572c241770008946c6a">
<script>
  (function(h,b,s,n,i,p,e,t) {
    h._HB_ = h._HB_ || {};h._HB_.pid = i;;;;
    t=b.createElement(s);t.type="text/javascript";t.async=!0;t.src=n;
    e=b.getElementsByTagName(s)[0];e.parentNode.insertBefore(t,e);
})(window,document,"script","https://widget.honeybook.com/assets_users_production/websiteplacements/placement-controller.min.js","66326572c241770008946c6a");
</script>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>

